@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#ffffff; ;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
h1 {
  color: var(--foreground);
  margin-bottom: 3rem;
  @apply font-sans text-2xl font-semibold; /* Tailwind handles font + size */
}
.Button {
  @apply bg-white text-amber-700 font-bold py-2 px-4 rounded w-full transition-colors duration-300 ;
}
.Button:hover {
  @apply bg-amber-50;
}
